<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847463522510-ajipnbr1opk1i0ugeoo98f4ibq4ktv79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847463522510-ajipnbr1opk1i0ugeoo98f4ibq4ktv79</string>
	<key>API_KEY</key>
	<string>AIzaSyCRrEm9P6Quoa4v20xD4r_WmQxhRD-pTVM</string>
	<key>GCM_SENDER_ID</key>
	<string>847463522510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.depromeet.woofriend</string>
	<key>PROJECT_ID</key>
	<string>woofriend-55cc9</string>
	<key>STORAGE_BUCKET</key>
	<string>woofriend-55cc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847463522510:ios:bec42e688037206026309f</string>
</dict>
</plist>