<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Woofriend.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E22E571150BF7648D72736974BDF546F379B72C9</string>
				<key>dateExpires</key>
				<string>2022/01/30</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E22E571150BF7648D72736974BDF546F379B72C9</string>
						<key>dateExpires</key>
						<string>2022/01/30</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4693VAH9ZM</string>
						<key>name</key>
						<string>kyuhyeon Lee</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E22E571150BF7648D72736974BDF546F379B72C9</string>
						<key>dateExpires</key>
						<string>2022/01/30</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4693VAH9ZM</string>
						<key>name</key>
						<string>kyuhyeon Lee</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E22E571150BF7648D72736974BDF546F379B72C9</string>
						<key>dateExpires</key>
						<string>2022/01/30</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4693VAH9ZM</string>
						<key>name</key>
						<string>kyuhyeon Lee</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E22E571150BF7648D72736974BDF546F379B72C9</string>
						<key>dateExpires</key>
						<string>2022/01/30</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4693VAH9ZM</string>
						<key>name</key>
						<string>kyuhyeon Lee</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E22E571150BF7648D72736974BDF546F379B72C9</string>
						<key>dateExpires</key>
						<string>2022/01/30</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4693VAH9ZM</string>
						<key>name</key>
						<string>kyuhyeon Lee</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E22E571150BF7648D72736974BDF546F379B72C9</string>
						<key>dateExpires</key>
						<string>2022/01/30</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4693VAH9ZM</string>
						<key>name</key>
						<string>kyuhyeon Lee</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E22E571150BF7648D72736974BDF546F379B72C9</string>
						<key>dateExpires</key>
						<string>2022/01/30</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RIBs.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4693VAH9ZM</string>
						<key>name</key>
						<string>kyuhyeon Lee</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E22E571150BF7648D72736974BDF546F379B72C9</string>
						<key>dateExpires</key>
						<string>2022/01/30</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4693VAH9ZM</string>
						<key>name</key>
						<string>kyuhyeon Lee</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E22E571150BF7648D72736974BDF546F379B72C9</string>
						<key>dateExpires</key>
						<string>2022/01/30</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4693VAH9ZM</string>
						<key>name</key>
						<string>kyuhyeon Lee</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4693VAH9ZM.com.depromeet.woofriend</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4693VAH9ZM</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>4693VAH9ZM.com.depromeet.woofriend</string>
				</array>
			</dict>
			<key>name</key>
			<string>Woofriend.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>572f06ee-a013-4579-8dbf-9044aa5c207c</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.depromeet.woofriend</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4693VAH9ZM</string>
				<key>name</key>
				<string>kyuhyeon Lee</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
